.header {
    background: url(assets/background-image.jpg);
    height: 200px;
    background-size: 100%;
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

@media all and (max-width: 480px) {
    .header {
        height: 93px;
    }
}